## Series

In [2]:
import pandas as pd
import numpy as np

In [8]:
my_data = np.random.randint(31, size=30)
my_series = pd.Series(my_data)
# my_series[:10]
my_series.head(10)

0    21
1     4
2    23
3    12
4    22
5    23
6    24
7     9
8    19
9    23
dtype: int32

In [30]:
my_data = np.array([99, 98, 97, 96, 95])
my_index = ["A", "B", "C", "D", "E"]
# Curiosity: pd.Int32Dtype() is just np.int32 in the end.
my_series = pd.Series(my_data, index=my_index, dtype=pd.Int32Dtype()) 
my_series

A    99
B    98
C    97
D    96
E    95
dtype: Int32

In [37]:
my_data = {
    "RAM":30,
    "ROM":40,
    "CPU":10,
    "GPU":70,
    "Display":10,
}
my_series = pd.Series(my_data)
my_series

RAM        30
ROM        40
CPU        10
GPU        70
Display    10
dtype: int64

## DataFrame

In [43]:
data = np.random.randn(4, 5)
index = ["A","B","C","D"]
header = ["Sunday","Monday", "Tuesday", "Carole","Thursday"]
df = pd.DataFrame(data=data, index=index, columns=header)
df

     Sunday    Monday   Tuesday    Carole  Thursday
A  0.316005  1.167977  0.520013 -0.053995 -0.401608
B  0.142067 -0.301901 -0.080475  1.156787 -1.769222
C -1.341404  0.581369 -1.702217 -1.616045 -1.365488
D  0.563651 -0.072833  0.022623  0.064911 -1.180190

In [44]:
data = {
    "id": [112, 732, 1384, 983],
    "Name": ["CPU", "RAM", "ROM", "GPU"],
    "Price": [900.9, 50.0, 298.0, 400.0],
}
index = ["Tier 1", "Tier 2", "Tier 3", "Tier 4"]
df = pd.DataFrame(data, index=index)
df

          id Name  Price
Tier 1   112  CPU  900.9
Tier 2   732  RAM   50.0
Tier 3  1384  ROM  298.0
Tier 4   983  GPU  400.0

In [58]:
df2 = pd.read_csv("pokemon_data.csv")
df2.loc[[0, 37]].reset_index()

,index,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,37,32,Nidoran (Male),Poison,NaN,46,57,40,40,40,50,1,False