  ## Data count

In [1]:
import pandas as pd

df = pd.read_csv("pokemon_data.csv")
# df

In [10]:
df["Type 2"].value_counts(dropna=False)

Type 2
NaN         386
Flying       97
Ground       35
Poison       34
Psychic      33
Fighting     26
Grass        25
Fairy        23
Steel        22
Dark         20
Dragon       18
Ice          14
Rock         14
Water        14
Ghost        14
Fire         12
Electric      6
Normal        4
Bug           3
Name: count, dtype: int64

In [11]:
# Relative Frequency
df["Type 1"].value_counts(normalize=True, dropna=True)

Type 1
Water       0.14000
Normal      0.12250
Grass       0.08750
Bug         0.08625
Psychic     0.07125
Fire        0.06500
Rock        0.05500
Electric    0.05500
Ground      0.04000
Ghost       0.04000
Dragon      0.04000
Dark        0.03875
Poison      0.03500
Fighting    0.03375
Steel       0.03375
Ice         0.03000
Fairy       0.02125
Flying      0.00500
Name: proportion, dtype: float64

In [30]:
df["Type 2"].value_counts(ascending=True, dropna=False)
temp = df["Type 2"].value_counts(ascending=True, dropna=False)["Poison"]

# Treating keys as positions is deprecated. Use Series.iloc[-1] instead.
# temp = df["Type 2"].value_counts(ascending=True, dropna=False)[-1]
temp2 = df["Type 2"].value_counts(ascending=True, dropna=False).iloc[-1] # NaN count in this case

print(temp)
print(temp2)

34
386

In [37]:
size = df.groupby("Type 1").size()
# size = df.groupby("Type 1").size().add(99) # Testing
size

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
dtype: int64

In [38]:
df.groupby("Type 1").count()

,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27
Fire,52,52,24,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112

In [57]:
# Count of all columns across all columns

# df.apply(pd.value_counts) # DEPRECATED
# NOTE: you need to cast all integer series to str because 'str < int' and vice versa cannot happen.
# df.apply(lambda sequence: pd.Series(sequence).value_counts().sort_index())
df.apply(lambda series: pd.Series(series).astype(str).value_counts().sort_index())[:20]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,166.0,NaN
10,1.0,NaN,NaN,NaN,1.0,3.0,1.0,3.0,NaN,3.0,NaN,NaN
100,1.0,NaN,NaN,NaN,32.0,40.0,33.0,27.0,28.0,31.0,NaN,NaN
101,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,7.0,NaN,NaN
102,1.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,2.0,NaN,NaN
103,1.0,NaN,NaN,NaN,3.0,3.0,1.0,2.0,NaN,1.0,NaN,NaN
104,1.0,NaN,NaN,NaN,1.0,3.0,NaN,1.0,NaN,3.0,NaN,NaN
105,1.0,NaN,NaN,NaN,10.0,17.0,15.0,20.0,17.0,12.0,NaN,NaN
106,1.0,NaN,NaN,NaN,5.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN
107,1.0,NaN,NaN,NaN,NaN,1.0,5.0,1.0,6.0,NaN,NaN,NaN
108,1.0,NaN,NaN,NaN,4.0,1.0,1.0,1.0,1.0,7.0,NaN,NaN
109,1.0,NaN,NaN,NaN,1.0,2.0,1.0,4.0,NaN,2.0,NaN,NaN
11,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,1.0,NaN,NaN,NaN,9.0,18.0,11.0,16.0,15.0,15.0,NaN,NaN
111,1.0,NaN,NaN,NaN,1.0,NaN,1.0,1.0,NaN,2.0,NaN,NaN
112,1.0,NaN,NaN,NaN,NaN,2.0,1.0,2.0,NaN,3.0,NaN,NaN
113,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN
114,1.0,NaN,NaN,NaN,1.0,NaN,NaN,2.0,NaN,1.0,NaN,NaN
115,2.0,NaN,NaN,NaN,3.0,9.0,11.0,9.0,10.0,11.0,NaN,NaN
116,1.0,NaN,NaN,NaN,1.0,NaN,1.0,1.0,2.0,2.0,NaN,NaN