In [54]:
import pandas as pd
import numpy as np

df = pd.read_csv("pokemon_data.csv")

In [51]:
# Inserts at the end
df["Dead"] = [np.nan] * len(df)
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Dead
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,NaN
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,NaN
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,NaN
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,NaN
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,NaN
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,NaN
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,NaN
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,NaN
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,NaN

In [42]:
data = [False] * len(df)
df.insert(0, column="Alive", value=data, allow_duplicates=True)
# df.drop(labels="Alive", axis=1, inplace=True) # Removes all columns with "Alive" as label.
df

,Alive,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,False,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,False,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,False,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,False,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,False,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,False,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,False,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,False,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,False,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,False,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [69]:
# Returns a new DataFrame because of `inplace=False`) without the columns which have the label "Alive".
dftemp = df.drop(labels="Alive", axis=1, inplace=False) 
dftemp = df.drop(columns="Alive", inplace=False) # Same behavior
dftemp

KeyError: "['Alive'] not found in axis"

In [60]:
data = [True] * len(df)
# df.assign({"BadPoke":data, "Adopted":True}) # No, **kwargs (keywords) are not dictionaries.
df.assign(BadPoke=data, Adopted=True)[:5] # Returns a copy DF containing the new column.

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,BadPoke,Adopted
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,True,True
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,True,True
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,True,True
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,True,True
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,True,True

In [68]:
# df.drop([1,2,3], axis=0, inplace=False).reset_index()
# df.drop([1,2,3], axis=0, inplace=False)[:5]
df.drop(index=[1,2,3], inplace=False)[:5]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False