In [30]:
import pandas as pd

df = pd.read_csv("GasPricesinBrazil_2004-2019.csv", sep=";", usecols=range(1, 21))
df.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

## Gas stations from São Paulo or Rio de Janeiro with regular gasoline and average resale price > 2

### V1

In [24]:
filter_1 = (df["ESTADO"] == "SAO PAULO") | (df["ESTADO"] == "RIO DE JANEIRO")
filter_2 = (df["PRODUTO"] == "GASOLINA COMUM")
filter_3 = (df["PREÇO MÉDIO REVENDA"] > 2)
df_result = df[filter_1 & filter_2 & filter_3]
df_result.iloc[[0, 12, 1555]]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
12086,2004-05-09,2004-05-15,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1071,R$/l,2.045,0.109,1.700,2.599,0.254,0.053,1.791,0.047,1.6363,1.9594,0.026,5,2004
12329,2004-07-11,2004-07-17,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1066,R$/l,2.150,0.112,1.790,2.599,0.253,0.052,1.897,0.052,1.55,2.1032,0.027,7,2004
106180,2019-05-26,2019-06-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1642,R$/l,4.269,0.164,3.769,5.290,0.381,0.038,3.888,0.087,3.625,4.1898,0.022,5,2019

### V2

In [25]:
states = ["SAO PAULO", "RIO DE JANEIRO"]
# 1
filter_1 = df["ESTADO"].isin(states)
partial_1 = df[filter_1]
# 2
filter_2 = partial_1["PRODUTO"] == "GASOLINA COMUM"
partial_2 = partial_1[filter_2]
# 3
filter_3 = partial_2["PREÇO MÉDIO REVENDA"] > 2
result = partial_2[filter_3]
result.iloc[[0, 12, 1555]]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
12086,2004-05-09,2004-05-15,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1071,R$/l,2.045,0.109,1.700,2.599,0.254,0.053,1.791,0.047,1.6363,1.9594,0.026,5,2004
12329,2004-07-11,2004-07-17,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1066,R$/l,2.150,0.112,1.790,2.599,0.253,0.052,1.897,0.052,1.55,2.1032,0.027,7,2004
106180,2019-05-26,2019-06-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1642,R$/l,4.269,0.164,3.769,5.290,0.381,0.038,3.888,0.087,3.625,4.1898,0.022,5,2019

### V3 (Only works for column names which don't have special characters)

In [32]:
df_copy = df.copy()
# Replacing whitespace characters in column names
df_copy.columns = df_copy.columns.str.replace(pat=" ", repl="_")

states = ["SAO PAULO", "RIO DE JANEIRO"]
# 1
partial_1 = df_copy.query("ESTADO in @states")
# 2
partial_2 = partial_1.query("PRODUTO == 'GASOLINA COMUM'")
# 3
result = partial_2.query("PREÇO_MÉDIO_REVENDA > 2")
result.iloc[[0, 12, 1555]]

,DATA_INICIAL,DATA_FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO_DE_POSTOS_PESQUISADOS,UNIDADE_DE_MEDIDA,PREÇO_MÉDIO_REVENDA,DESVIO_PADRÃO_REVENDA,PREÇO_MÍNIMO_REVENDA,PREÇO_MÁXIMO_REVENDA,MARGEM_MÉDIA_REVENDA,COEF_DE_VARIAÇÃO_REVENDA,PREÇO_MÉDIO_DISTRIBUIÇÃO,DESVIO_PADRÃO_DISTRIBUIÇÃO,PREÇO_MÍNIMO_DISTRIBUIÇÃO,PREÇO_MÁXIMO_DISTRIBUIÇÃO,COEF_DE_VARIAÇÃO_DISTRIBUIÇÃO,MÊS,ANO
12086,2004-05-09,2004-05-15,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1071,R$/l,2.045,0.109,1.700,2.599,0.254,0.053,1.791,0.047,1.6363,1.9594,0.026,5,2004
12329,2004-07-11,2004-07-17,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1066,R$/l,2.150,0.112,1.790,2.599,0.253,0.052,1.897,0.052,1.55,2.1032,0.027,7,2004
106180,2019-05-26,2019-06-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1642,R$/l,4.269,0.164,3.769,5.290,0.381,0.038,3.888,0.087,3.625,4.1898,0.022,5,2019